.App {
  text-align: center;
}

footer {
  position: sticky;
  bottom: 0;
  padding: 10px;
}

.user {
  margin-left: 30px;
  text-align: left;
  text-transform: capitalize;
}

.post {
  height: 300px;
  width: 300px;
}
.post > img {
  height: 200px;
  width: 200px;
}