.App {
  color: white;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    /* go to CSSgradient.io to make gradients */
  }
  
  footer {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 27, 236, 0.664);
}

.user {
  margin-left: 30px;
  text-align: left;
  text-transform: capitalize;
}

.post {
  margin: auto;
  height: 800px;
  width: 800px;
}

.post > img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}


.navBar {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

.posts {
  margin: auto;
  margin-bottom: 150px;
  height: 300px;
  width: 300px;
}

.allPosts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.profileName {
  border-bottom: #6afaff71 3px solid;
  margin-bottom: 20px;
}

/* Register */
form {
  text-align: center;
  height: 800px;
}

.right {
  display: none;
}

.wrong {
  color: rgb(255, 0, 76);
  text-decoration: underline;
  
}

.register-form {
  padding-top: 200px;
  text-align: center;
}

/* Login */
.login-form {
  text-align: center;
  padding-top: 200px;
}
/* Home */
.home {
  text-align: center;
  height: 900px;
  padding-top: 100px;
}

.postButton {
  margin-left: 80%;
  font-size: 24px;
  font-weight: bold;
}

.PostPage {
  padding-bottom: 850px;
  padding-top: 200px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.preview {
  text-align: left;
}